<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <style type="text/css">
        .error {
        color: red;
        }
    </style>

</head>
<body bgcolor="#E6E6FA">

    <h1>
        <a href="/">Signup</a>
    </h1>
    <form action="/home" method="POST">
        <table>
           <tr>
               <td><label for="User_Name"> User Name: </label></td>
               <td><input id="User_Name" type="text" name="User_Name" value="{{username}}"/></td>
               <td><p class="error"> {{username_error}}</p></td>

            </tr>
            <tr>
               <td><label for="Password"> Password:  </label></td>
               <td><input id="Password" type="Password" name="Password" value="{{password}}"/></td>
               <td><p class="error">{{password_error}}</p></td>
            </tr>
            <tr>
                <td><label for="Confirm_Password"> Confirm Password:</label></td>
                <td><input id="Confirm_Password" type="Password" name="Confirm_Password" value="{{confirmpassword}}"/></td>            </td>
                <td><p class="error">{{confirmpassword_error}}</p></td>
            </tr>
            <tr>
                <td><label for="Email_Id"> Email Id:</label></td>
                <td><input id="Email_Id" type="text" name="Email_Id" value="{{emailId}}"/></td>
                <td><p class="error">{{emailId_error}}</p></td>
            </tr>
            <tr>
                <td>
                    <input type="submit"/>
                </td>
            </tr>
        </table>
    </form>

{% block content %}

{% if error %}
<p class='error'>{{ error }}</p>
{% endif %}
    {% endblock %}
</body>
</html>
